.cardRow {
    margin: 5% auto 0px auto !important;
    width: 50%;
}

.emailInput {
    margin-left: 10px;
}

.MuiAlert-message {
    display: block !important;
}

.container-requestBtn :hover, .container-resetPasswordBtn :hover {
    color: #d41b2c;
    background-color: #ffffff;
    border: 1px solid;
    cursor: pointer;
}

.requestBtn, .resetPasswordBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #d41b2c;
    font-family: Montserrat-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.password, .confirmPass {
    display: flex
}

.labelStyle {
    width: 30%;
}

.form-group {
    margin-top: 10px;
}