#main-choice-section {
    background-color: red;
    height:500px;
    margin-top: 5%;
}

#title-heading {
    padding-top: 20%;
    padding-left: 5%;
    padding-bottom: 2%;
    color: white;
    font-size: 50px;

}

#researcher-btn {
    padding : 1%;
    border-radius: 5px;
    margin-left: 5%;
}

#volunteer-btn {
    color: white;
    padding : 1%;
    border-radius: 5px;
    margin-left: 1%;
    border-color: white;
}

#body-title {
    margin-bottom: 5%;
}

#body-title h3 {
   text-align: center;
   margin-top: 5%;
   margin-bottom: 5%;
}

#body-main {
    margin-bottom: 5%;
}

#post-project:hover {
    border: 1.5px solid red;    
}

.card-body {
    text-align: center;
    min-height: 150px;
}

#body-main-2 .card {
    border: 0px !important;
}